params {
    read1 = null
    read2 = null
    target_dir = null
    docker_bind_root = null
    trim_quality = 20
    trim_length = 20
    outdir = "${projectDir}/results"
    trim_galore_container = 'quay.io/biocontainers/trim-galore:0.6.10--hdfd78af_0'
}

process.executor = 'local'
workDir = "${launchDir}/work"

process {
    withLabel: native_module {
        cpus = 1
        memory = 1.GB
        time = 5.m
    }
}

profiles {
    local {
        docker.enabled = false
        conda.enabled = false
    }
    docker {
        docker.enabled = true
        docker.runOptions = params.docker_bind_root \
            ? "-v ${params.docker_bind_root}:${params.docker_bind_root}" \
            : null
    }
}

timeline.enabled = false
trace.enabled = true
trace.file = "${params.outdir}/execution_trace.tsv"
report.enabled = false
dag.enabled = false
