params {
    transcriptome = null
    read1 = null
    read2 = null
    target_root = null
    index_only = false
    trace_file = null
    docker_bind_root = null
    kmer_size = 31
    lib_type = 'A'
    validate_mappings = true
    outdir = "${projectDir}/results"
    salmon_container = 'quay.io/biocontainers/salmon@sha256:f83ebb158845ee8138d793347f83b92c75e83c58dd8f4600c6fea2a2453ef08e'
    salmon_apptainer_container = 'https://depot.galaxyproject.org/singularity/salmon:1.10.3--h6dccd9a_2'
    salmon_index_queue = null
    salmon_quant_queue = null
}

process.executor = 'local'
workDir = "${launchDir}/work"

process {
    withLabel: native_module {
        cpus = 1
        memory = 1.GB
        time = 10.m
    }
}

profiles {
    local {
        docker.enabled = false
        conda.enabled = false
    }
    docker {
        docker.enabled = true
        docker.fixOwnership = true
        docker.runOptions = params.docker_bind_root \
            ? "-v ${params.docker_bind_root}:${params.docker_bind_root}" \
            : null
    }
}

timeline.enabled = false
trace.enabled = true
trace.file = params.trace_file ?: "${params.outdir}/execution_trace.tsv"
trace.overwrite = true
report.enabled = false
dag.enabled = false
