params {
    reference = null
    annotation = null
    read1 = null
    read2 = null
    target_root = null
    index_only = false
    trace_file = null
    docker_bind_root = null
    extra_args = '--outTmpDir /tmp/omicsflow_star_tmp'
    genome_sa_index_nbases = 2
    limit_genome_generate_ram = 100000000
    outdir = "${projectDir}/results"
    star_container = 'community.wave.seqera.io/library/htslib_samtools_star_gawk:ae438e9a604351a4'
    star_apptainer_container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/26/268b4c9c6cbf8fa6606c9b7fd4fafce18bf2c931d1a809a0ce51b105ec06c89d/data'
    star_index_queue = null
    star_align_queue = null
}

process.executor = 'local'
workDir = "${launchDir}/work"

process {
    withLabel: native_module {
        cpus = 1
        memory = 2.GB
        time = 10.m
    }
}

profiles {
    local {
        docker.enabled = false
        conda.enabled = false
    }
    docker {
        docker.enabled = true
        docker.fixOwnership = true
        docker.runOptions = params.docker_bind_root \
            ? "-v ${params.docker_bind_root}:${params.docker_bind_root}" \
            : null
    }
}

timeline.enabled = false
trace.enabled = true
trace.file = params.trace_file ?: "${params.outdir}/execution_trace.tsv"
trace.overwrite = true
report.enabled = false
dag.enabled = false
