process.executor = 'local'
executor.queueSize = 2
workDir = "${projectDir}/../../work"

params.fixture_dir = "${projectDir}/fixture_work"
params.outdir = "${projectDir}/results"
params.caller = 'macs3'
params.peak_type = 'narrow'
params.effective_genome_size = 1800
params.q_value = 0.5
params.p_value = null
params.chipseq_metadata_container = null
params.macs3_container = 'quay.io/biocontainers/macs3:3.0.4--py312h71493bf_0'
params.macs3_apptainer_container = 'https://depot.galaxyproject.org/singularity/macs3:3.0.4--py312h71493bf_0'
params.macs3_queue = null

process {
    withLabel: native_module {
        cpus = 1
        memory = 1.GB
        time = 5.m
    }
}

docker.enabled = true
docker.fixOwnership = true
