manifest {
    name            = 'OmicsFlow'
    author          = 'OmicsFlow contributors'
    description     = 'Compatibility-first orchestration of RNA-seq, ChIP-seq, and integrative pipelines'
    mainScript      = 'main.nf'
    nextflowVersion = '>=24.10.0'
    version         = '0.1.0-dev'
}

params {
    workflow          = 'all'
    outdir            = "${projectDir}/results"
    legacy_dry_run    = false
    rnaseq_config     = "${projectDir}/pipelines/rnaseq/legacy/config/pipeline_config.sh"
    chipseq_config    = "${projectDir}/pipelines/chipseq/legacy/config/pipeline_config.sh"
    integrative_config = "${projectDir}/pipelines/integrative/legacy/config/pipeline_config.sh"
}

includeConfig 'conf/base.config'

profiles {
    local {
        includeConfig 'profiles/local.config'
    }
    slurm {
        includeConfig 'profiles/slurm.config'
    }
    docker {
        includeConfig 'profiles/docker.config'
    }
    singularity {
        includeConfig 'profiles/singularity.config'
    }
    apptainer {
        includeConfig 'profiles/apptainer.config'
    }
    conda {
        includeConfig 'profiles/conda.config'
    }
    test {
        includeConfig 'profiles/test.config'
    }
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}

trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace.tsv"
    overwrite = true
    fields  = 'task_id,hash,native_id,name,status,exit,submit,duration,realtime,%cpu,peak_rss,peak_vmem,rchar,wchar,workdir'
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}

dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag.html"
    overwrite = true
}
