manifest {
    name            = 'OmicsFlow'
    author          = 'OmicsFlow contributors'
    description     = 'Compatibility-first orchestration of RNA-seq, ChIP-seq, and integrative pipelines'
    mainScript      = 'main.nf'
    nextflowVersion = '>=24.10.0'
    version         = '0.1.0-dev'
}

nextflow.enable.moduleBinaries = true

params {
    workflow          = 'all'
    outdir            = "${projectDir}/results"
    legacy_dry_run    = false
    rnaseq_native_qc  = true
    rnaseq_native_alignment = true
    rnaseq_native_quantification = true
    rnaseq_native_import = true
    rnaseq_native_de = true
    rnaseq_de_spec = null
    rnaseq_analysis_mode = 'config'
    rnaseq_run_mode = 'full'
    rnaseq_native_trim_galore = true
    chipseq_native_foundation = true
    chipseq_native_bam_processing = true
    chipseq_native_peak_calling = true
    chipseq_native_peak_qc = true
    chipseq_run_mode = 'full'
    chipseq_min_mapq = null
    chipseq_include_flags = 0
    chipseq_exclude_flags = null
    chipseq_region = null
    chipseq_duplicate_mode = 'none'
    chipseq_blacklist = null
    chipseq_blacklist_overlap_mode = 'fragment'
    chipseq_sort_final_if_needed = false
    chipseq_continue_legacy_peaks = false
    chipseq_peak_caller = null
    chipseq_peak_type = null
    chipseq_effective_genome_size = null
    chipseq_peak_q_value = null
    chipseq_peak_p_value = null
    chipseq_peak_format = null
    chipseq_peak_duplicate_policy = 'all'
    chipseq_peak_additional_args = null
    chipseq_peak_output_dir = null
    chipseq_frip_unit = 'layout'
    chipseq_frip_min_mapq = 0
    chipseq_frip_include_flags = 0
    chipseq_frip_additional_exclude_flags = 0
    chipseq_frip_exclude_unmapped = true
    chipseq_frip_exclude_secondary = true
    chipseq_frip_exclude_supplementary = true
    chipseq_frip_exclude_qc_fail = true
    chipseq_frip_duplicate_handling = 'include'
    chipseq_frip_require_proper_pair = true
    chipseq_frip_overlap_strategy = 'any_base'
    chipseq_frip_blacklist_policy = 'bam_preprocessed'
    chipseq_context_container = 'debian:12.5-slim'
    chipseq_metadata_container = 'python:3.12.4-slim-bookworm'
    trim_galore_container = 'quay.io/biocontainers/trim-galore:0.6.10--hdfd78af_0'
    fastqc_container  = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    merge_fastq_container = 'debian:12.5-slim'
    multiqc_container = 'quay.io/biocontainers/multiqc:1.17--pyhdfd78af_1'
    star_container = 'community.wave.seqera.io/library/htslib_samtools_star_gawk:ae438e9a604351a4'
    star_apptainer_container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/26/268b4c9c6cbf8fa6606c9b7fd4fafce18bf2c931d1a809a0ce51b105ec06c89d/data'
    star_index_queue = null
    star_align_queue = null
    bowtie2_container = 'quay.io/biocontainers/bowtie2:2.5.4--he20e202_1'
    bowtie2_apptainer_container = 'https://depot.galaxyproject.org/singularity/bowtie2:2.5.4--he20e202_1'
    bowtie2_index_queue = null
    bowtie2_align_queue = null
    bam_samtools_container = 'quay.io/biocontainers/samtools:1.20--h50ea8bc_1'
    bam_samtools_apptainer_container = 'https://depot.galaxyproject.org/singularity/samtools:1.20--h50ea8bc_1'
    bam_select_queue = null
    bam_duplicates_queue = null
    bam_blacklist_queue = null
    bam_index_qc_queue = null
    macs3_container = 'quay.io/biocontainers/macs3:3.0.4--py312h71493bf_0'
    macs3_apptainer_container = 'https://depot.galaxyproject.org/singularity/macs3:3.0.4--py312h71493bf_0'
    macs3_queue = null
    // Publish a joint SAMtools/BEDTools image before enabling Docker/Apptainer for FRiP.
    peak_qc_container = null
    peak_qc_apptainer_container = null
    peak_qc_queue = null
    salmon_container = 'quay.io/biocontainers/salmon@sha256:f83ebb158845ee8138d793347f83b92c75e83c58dd8f4600c6fea2a2453ef08e'
    salmon_apptainer_container = 'https://depot.galaxyproject.org/singularity/salmon:1.10.3--h6dccd9a_2'
    salmon_index_queue = null
    salmon_quant_queue = null
    salmon_lib_type = 'A'
    salmon_validate_mappings = true
    rnaseq_counts_from_abundance = null
    rnaseq_library_protocol = null
    import_source_container = 'ghcr.io/gmiguelalves/omicsflow-import-python:1.0.0'
    tx2gene_container = 'ghcr.io/gmiguelalves/omicsflow-import:1.0.0'
    tx2gene_apptainer_container = 'docker://ghcr.io/gmiguelalves/omicsflow-import:1.0.0'
    tx2gene_queue = null
    tximport_container = 'ghcr.io/gmiguelalves/omicsflow-import:1.0.0'
    tximport_apptainer_container = 'docker://ghcr.io/gmiguelalves/omicsflow-import:1.0.0'
    tximport_queue = null
    star_import_container = 'ghcr.io/gmiguelalves/omicsflow-import-python:1.0.0'
    star_import_apptainer_container = 'docker://ghcr.io/gmiguelalves/omicsflow-import-python:1.0.0'
    star_import_queue = null
    de_adapter_container = 'ghcr.io/gmiguelalves/omicsflow-import-python:1.0.0'
    deseq2_container = 'ghcr.io/gmiguelalves/omicsflow-deseq2:1.0.0'
    deseq2_apptainer_container = 'docker://ghcr.io/gmiguelalves/omicsflow-deseq2:1.0.0'
    deseq2_model_queue = null
    deseq2_contrast_queue = null
    rnaseq_config     = "${projectDir}/pipelines/rnaseq/legacy/config/pipeline_config.sh"
    chipseq_config    = "${projectDir}/pipelines/chipseq/legacy/config/pipeline_config.sh"
    integrative_config = "${projectDir}/pipelines/integrative/legacy/config/pipeline_config.sh"
}

includeConfig 'conf/base.config'

profiles {
    local {
        includeConfig 'profiles/local.config'
    }
    slurm {
        includeConfig 'profiles/slurm.config'
    }
    docker {
        includeConfig 'profiles/docker.config'
    }
    singularity {
        includeConfig 'profiles/singularity.config'
    }
    apptainer {
        includeConfig 'profiles/apptainer.config'
    }
    conda {
        includeConfig 'profiles/conda.config'
    }
    test {
        includeConfig 'profiles/test.config'
    }
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}

trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace.tsv"
    overwrite = true
    fields  = 'task_id,hash,native_id,name,status,exit,submit,duration,realtime,%cpu,peak_rss,peak_vmem,rchar,wchar,workdir'
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}

dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag.html"
    overwrite = true
}
