docker.enabled = false
singularity.enabled = false
apptainer.enabled = false
conda.enabled = false

process.executor = 'slurm'
executor {
    queueSize = 5
    submitRateLimit = '2 sec'
}

process {
    withLabel: compatibility_adapter {
        cpus = 1
        memory = 2.GB
        time = 10.m
    }
    withLabel: native_module {
        cpus = 1
        memory = 2.GB
        time = 15.m
    }
}
