params {
    provider = 'salmon'
    fixture_root = null
    metadata_file = null
    target_root = null
    star_count_column = 'unstranded'
    trace_file = null
    outdir = "${projectDir}/results"
    import_source_container = 'ghcr.io/gmiguelalves/helixforge-import-python:1.0.0@sha256:f09bbd79be8b6a14b3addebfad2134a692b2cb78d253b86d667fc423a34fe456'
    tx2gene_container = 'ghcr.io/gmiguelalves/helixforge-import:1.0.0@sha256:e8bc49869f641cee2d538df058fb9afb8e7883c4b48b29d1f946a9761ff105f7'
    tx2gene_apptainer_container = 'docker://ghcr.io/gmiguelalves/helixforge-import:1.0.0@sha256:e8bc49869f641cee2d538df058fb9afb8e7883c4b48b29d1f946a9761ff105f7'
    tx2gene_queue = null
    tximport_container = 'ghcr.io/gmiguelalves/helixforge-import:1.0.0@sha256:e8bc49869f641cee2d538df058fb9afb8e7883c4b48b29d1f946a9761ff105f7'
    tximport_apptainer_container = 'docker://ghcr.io/gmiguelalves/helixforge-import:1.0.0@sha256:e8bc49869f641cee2d538df058fb9afb8e7883c4b48b29d1f946a9761ff105f7'
    tximport_queue = null
    star_import_container = 'ghcr.io/gmiguelalves/helixforge-import-python:1.0.0@sha256:f09bbd79be8b6a14b3addebfad2134a692b2cb78d253b86d667fc423a34fe456'
    star_import_apptainer_container = 'docker://ghcr.io/gmiguelalves/helixforge-import-python:1.0.0@sha256:f09bbd79be8b6a14b3addebfad2134a692b2cb78d253b86d667fc423a34fe456'
    star_import_queue = null
}

nextflow.enable.moduleBinaries = true

process.executor = 'local'
workDir = "${launchDir}/work"

process {
    withLabel: native_module {
        cpus = 1
        memory = 1.GB
        time = 10.m
    }
}

profiles {
    local {
        docker.enabled = false
        conda.enabled = false
    }
    docker {
        docker.enabled = true
        docker.fixOwnership = true
    }
    conda {
        conda.enabled = true
    }
}

timeline.enabled = false
trace.enabled = true
trace.file = params.trace_file ?: "${params.outdir}/execution_trace.tsv"
trace.overwrite = true
report.enabled = false
dag.enabled = false
