params {
    bam = null
    bai = null
    reference = null
    blacklist = null
    target_root = "${projectDir}/results/final"
    outdir = "${projectDir}/results"
    trace_file = "${projectDir}/results/execution_trace.tsv"
    bam_samtools_container = 'quay.io/biocontainers/samtools:1.20--h50ea8bc_1'
    bam_samtools_apptainer_container = 'https://depot.galaxyproject.org/singularity/samtools:1.20--h50ea8bc_1'
    bam_select_queue = null
    bam_duplicates_queue = null
    bam_blacklist_queue = null
    bam_index_qc_queue = null
}

process.executor = 'local'
workDir = "${launchDir}/work"
conda.enabled = false
docker.enabled = false

process {
    withLabel: native_module {
        cpus = 1
        memory = 1.GB
        time = 5.m
    }
}

timeline.enabled = false
report.enabled = false
dag.enabled = false
trace.enabled = true
trace.file = params.trace_file
trace.overwrite = true

