process {
    executor = 'local'
    shell    = ['/bin/bash', '-ue']

    withLabel: legacy_orchestrator {
        errorStrategy = 'terminate'
        maxRetries    = 0
    }

    withLabel: compatibility_adapter {
        errorStrategy = 'terminate'
        maxRetries    = 0
    }
}

executor {
    name      = 'local'
    queueSize = 4
}

workDir = "${projectDir}/work"
