params {
    input_dir = null
    target_root = null
    outdir = "${projectDir}/results"
    fastqc_container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    trim_galore_container = 'quay.io/biocontainers/trim-galore:0.6.10--hdfd78af_0'
    merge_fastq_container = 'debian:12.5-slim'
    multiqc_container = 'quay.io/biocontainers/multiqc:1.17--pyhdfd78af_1'
}

process.executor = 'local'
workDir = "${launchDir}/work"

process {
    withLabel: native_module {
        cpus = 1
        memory = 1.GB
        time = 5.m
    }
}

docker.enabled = false
conda.enabled = false
timeline.enabled = false
trace.enabled = true
trace.file = "${params.outdir}/execution_trace.tsv"
report.enabled = false
dag.enabled = false
