process.executor = 'local'
executor.queueSize = 2
params.outdir = "${projectDir}/results/test"

process {
    withLabel: legacy_orchestrator {
        cpus   = 1
        memory = 1.GB
        time   = 5.m
    }

    withLabel: compatibility_adapter {
        cpus   = 1
        memory = 1.GB
        time   = 5.m
    }

    withLabel: native_trim_galore {
        cpus   = 1
        memory = 1.GB
        time   = 5.m
    }
}
