process.executor = 'local'
executor.queueSize = 2
workDir = "${projectDir}/../../work"

params.fixture_dir = "${projectDir}/fixture_work"
params.outdir = "${projectDir}/results"
params.chipseq_metadata_container = 'python:3.12.4-slim-bookworm'
params.peak_qc_container = null
params.peak_qc_apptainer_container = null
params.peak_qc_queue = null

process {
    withLabel: native_module {
        cpus = 1
        memory = 1.GB
        time = 5.m
    }
}
