params {
    input_dir = null
    target_root = null
    outdir = "${projectDir}/results"
    multiqc_container = 'quay.io/biocontainers/multiqc:1.17--pyhdfd78af_1'
}

process.executor = 'local'
docker.enabled = true
conda.enabled = false
timeline.enabled = false
trace.enabled = true
trace.file = "${params.outdir}/execution_trace.tsv"
report.enabled = false
dag.enabled = false
