params {
    input_dir = null
    target_root = null
    outdir = "${projectDir}/results"
    multiqc_container = 'quay.io/biocontainers/multiqc@sha256:fb7d6625fb5adaed43ced8bd051a875038714180bcfcd7c8e467204f72882de9'
}

process.executor = 'local'
docker.enabled = true
conda.enabled = false
timeline.enabled = false
trace.enabled = true
trace.file = "${params.outdir}/execution_trace.tsv"
report.enabled = false
dag.enabled = false
