process.executor = 'local'
executor.queueSize = 2
workDir = "${projectDir}/../../work"

params.outdir = "${projectDir}/results"
params.rnaseq_report_context_container = null
params.rnaseq_report_container = null
params.rnaseq_report_apptainer_container = null
params.rnaseq_report_queue = null

process {
    withLabel: native_module {
        cpus = 1
        memory = 1.GB
        time = 5.m
    }
}
