process.executor = 'local'
executor.queueSize = 2
workDir = "${projectDir}/real_work"

docker.enabled = true

params.outdir = "${projectDir}/real_results"
params.rnaseq_report_context_container = null
params.rnaseq_report_container = System.getenv('RNASEQ_REPORT_TEST_IMAGE') ?: 'ghcr.io/gmiguelalves/helixforge-rnaseq-report:1.0.0'
params.rnaseq_report_apptainer_container = "docker://${params.rnaseq_report_container}"
params.rnaseq_report_queue = null

process {
    withLabel: native_module {
        cpus = 2
        memory = 4.GB
        time = 15.m
    }
}
