process.executor = 'local'
executor.queueSize = 2
workDir = "${projectDir}/../../work"

params.fixture_dir = "${projectDir}/fixture_work"
params.outdir = "${projectDir}/results"
params.chipseq_track_container = null

process {
    withLabel: native_module {
        cpus = 1
        memory = 1.GB
        time = 5.m
    }
}
