process.executor = 'local'
executor.queueSize = 2
workDir = "${projectDir}/../../work"

params.report_inventory = "${projectDir}/fixture_work/report_input.json"
params.outdir = "${projectDir}/results"
params.chipseq_report_container = null

process {
    withLabel: native_module {
        cpus = 1
        memory = 1.GB
        time = 5.m
    }
}
